*~

dclm/1.0/baseline
fineweb/1.3.0/data
fineweb/1.3.0/edu
fineweb/1.4.0/data
fineweb/1.4.0/edu
fineweb/2.1.0/data
hplt/2.0/cleaned
madlad-400/1.5/clean
nemotron-cc/1.0/high
nemotron-cc/1.0/medium-high
nemotron-cc/1.0/medium
nemotron-cc/1.0/medium-low
nemotron-cc/1.0/low
